.Comment {
    background-color: lightgray;
    padding: 0px 10px 1px 10px;
}

.Comment h3 {
    text-transform: capitalize;
}

.Comment span {
    margin-left: 20px;
}

.Comment p {
    margin-left: 10px;
}